
@{
    if (HttpContext.Current.Request.HttpMethod == "POST")
    {
        // The action is a POST.
        @model IEnumerable<WMS_Web_SCG_CDMA.Entity_Data.ms_GroupSku>
    }

}
@{
    ViewBag.Title = "Export Data";
    WMS_Web_SCG_CDMA.Models.SortingPagingInfo info = ViewBag.SortingPagineInfo;
    IEnumerable<WMS_Web_SCG_CDMA.Entity_Data.ms_GroupSku> ms_GroupSku = ViewBag.ms_GroupSku;
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Export Data
        <small>Data Recive SKU Qty.</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Data Export</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <!-- /.box-header -->
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Data Export</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        @using (Html.BeginForm("", "Home", FormMethod.Post,new { @role = "form" }))
        {
            @Html.Hidden("PageCount", info.PageCount)
            @Html.Hidden("PageSize", info.PageSize)
            @Html.Hidden("CurrentPageIndex", info.CurrentPageIndex)

        
            <div class="box-body">
                <div class="row">
                    <div class="col-md-12">
                            <div class="form-group">   
                                <div class="col-md-12">
                                    <table cellpadding="10">
                                        <tr>
                                            <td>
                                                <label>
                                                    <input type="checkbox" class="minimal">
                                                    วันที่ GR ตัด Stock
                                                </label>
                                            </td>
                                            <td>
                                                <div class="input-group">
                                                    <div class="input-group-addon">
                                                        <i class="fa fa-calendar"></i>
                                                    </div>
                                                    <input class="form-control inline" id="reservation" type="text" autocomplete="off">
                                                </div>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" class="minimal">
                                                    กลุ่มสินค้าระบบ
                                                </label>
                                            </td>
                                            <td style="min-width: 200px;">
                                                <select class="form-control select2" style="width: 100%;">
                                                    @{
                                                        var i = 0;
                                                    
                                                        foreach (var item in ms_GroupSku)
                                                        {
                                                            <option value="@item.GroupSku_Index" selected="@i == GroupSku_Index.Count() ? 'selected' : '' ">@item.GroupSku_Name</option>

                                                        
                                                                i +=  1;
                                                        
                                                        }

                                                    }
                                                    
                                                </select>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="col-md-12">
                                    <table cellpadding="10">
                                        <tr>
                                            <td>
                                                <label>
                                                    <input type="checkbox" class="minimal">
                                                    PO No.
                                                </label>
                                            </td>
                                            <td>
                                                <div class="input-group">
                                                    <input class="form-control" type="text" autocomplete="off">
                                                </div>
                                                <!-- /.input group -->
                                            </td>
                                        </tr>

                                    </table>
                                </div>
                  
                    <!-- /.col -->
                    </div>
                  </div>
                </div>
                <!-- /.form-group -->
            </div>
            <!-- /.box-body -->
        
        }
        <div class="box-footer">
            <button type="button" class="btn btn-primary">Search</button>
            <button type="button" class="btn btn-danger">Clear</button>
        </div>

    </div>
    <!-- /.box -->
   
</section>
